@charset "UTF-8";
.weatherForecast {
  --tempBg:#68bebc;
  --popBg: #53a0b3;
  --textColor:#fff;
  --whitBg:#fff;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.weatherForecast * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.weatherForecast .temperature, .weatherForecast .pop {
  position: relative;
  padding: 6px 2px 5px;
  margin: 0;
  min-height: 50px;
  font-size: 1rem;
  line-height: 1.1;
  color: var(--textColor);
  text-align: center;
}
.weatherForecast .temperature em, .weatherForecast .pop em {
  font-weight: bold;
  font-style: normal;
}
.weatherForecast .temperature > img, .weatherForecast .temperature > em, .weatherForecast .temperature > span, .weatherForecast .pop > img, .weatherForecast .pop > em, .weatherForecast .pop > span {
  position: relative;
  z-index: 2;
}
.weatherForecast .temperature {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  background-color: var(--tempBg);
  background-size: 100% auto;
}
.weatherForecast .temperature img {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 3px;
}
.weatherForecast .temperature em {
  vertical-align: middle;
  height: 50px;
  line-height: 50px;
  font-size: 2em;
}
.weatherForecast .temperature em::after {
  content: "°C";
  font-size: 0.72em;
}
.weatherForecast .pop {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  text-align: center;
  background-color: var(--popBg);
}
.weatherForecast .pop > * {
  vertical-align: middle;
}
.weatherForecast .pop .label, .weatherForecast .pop em, .weatherForecast .pop time {
  display: inline-block;
  vertical-align: middle;
}
.weatherForecast .pop .label {
  font-size: 0.9em;
  margin: 0 2px;
}
.weatherForecast .pop em {
  font-size: 1.5em;
}
.weatherForecast .pop em::after {
  content: "%";
  font-size: 0.72em;
}
.weatherForecast .pop time {
  margin: 0;
  height: 50px;
  line-height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
@media screen and (min-width: 601px) {
  .weatherForecast::after {
    bottom: calc(50% - 25px);
  }
  .weatherForecast .temperature, .weatherForecast .pop {
    padding: 12px 5px;
  }
  .weatherForecast .pop span {
    font-size: 1em;
  }
}
@media screen and (min-width: 1001px) {
  .weatherForecast {
    display: block;
  }
  .weatherForecast::after {
    content: "";
    position: absolute;
    right: -15px;
    top: calc(50% - 100px);
    width: 170px;
    height: 200px;
    background: url(../images/weatherBg.png) no-repeat right center;
    background-size: 100% auto;
  }
  .weatherForecast .temperature, .weatherForecast .pop {
    height: 168px;
    line-height: 170px;
    padding: 0 0 0 140px;
  }
  .weatherForecast .temperature::after, .weatherForecast .pop::after {
    content: "";
    position: absolute;
    left: 136px;
    top: calc(50% - 50px);
    width: 1px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.6);
  }
  .weatherForecast .temperature {
    text-align: left;
  }
  .weatherForecast .temperature img {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 20px;
    top: calc(50% - 50px);
  }
  .weatherForecast .temperature em {
    display: inline-block;
    left: 20px;
    font-size: 3.6rem;
    text-align: right;
  }
  .weatherForecast .temperature em::after {
    font-size: 0.6em;
  }
  .weatherForecast .pop time {
    position: absolute;
    left: 10px;
    top: calc(50% - 50px);
    width: 120px;
    height: 100px;
    line-height: 105px;
    text-align: center;
    font-size: 3rem;
  }
  .weatherForecast .pop .label, .weatherForecast .pop em {
    display: block;
    margin-right: 70px;
    text-align: right;
  }
  .weatherForecast .pop .label {
    top: calc(50% - 2em);
    font-size: 1.2rem;
    line-height: 1.1;
    letter-spacing: 1px;
    width: 6em;
    padding-right: 1em;
  }
  .weatherForecast .pop em {
    display: block;
    top: calc(50% - 2rem);
    font-size: 3rem;
    line-height: 1.1;
  }
  .weatherForecast .pop em::after {
    font-size: 0.6em;
  }
}

.row.col84 > .weatherForecast {
  padding: 0;
  height: auto !important;
  background: var(--whitBg);
}
@media screen and (min-width: 1001px) {
  .row.col84 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .row.col84 > * {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .row.col84 > *:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 67%;
            flex: 0 0 67%;
    width: 67%;
  }
  .row.col84 > *:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
    width: 33%;
  }
}

.slide .box img {
  margin: 0 auto;
}
.slide li > a {
  display: block;
}
.slide.bb_n3 {
  max-width: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  width: 100%;
}
.slide.bb_n3 .box {
  height: 60vw;
}
.slide.bb_n3 .box img {
  height: 60vw;
  width: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
}
.slide.bb_n3 .dots {
  position: absolute;
  bottom: 5px;
  left: 50%;
  height: auto;
  padding: 0 5px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.slide.bb_n3 .box:hover ~ .dots {
  opacity: 0.1;
}
@media screen and (min-width: 1001px) {
  .slide.bb_n3 {
    --imgHeight: 336px;
  }
  .slide.bb_n3 .box {
    height: var(--imgHeight);
  }
  .slide.bb_n3 .box img {
    height: var(--imgHeight);
  }
}