// 時間、溫度、降雨機率
.weatherForecast{
  display: flex; flex-flow: row nowrap;
  box-sizing: border-box;
  *{box-sizing: border-box;}

  .temperature, .pop{
    color: #fff;text-align: center;
    font-size: 1.2rem; line-height: 1.1;
    padding: 1em 5px .95em; margin: 0;
    em{
      font-weight: normal; font-style: normal;font-size: 1.5em;
    }
  }
  .temperature{
    flex: 0 0 50%;
    background: #4fbfdb;
    img{
      display: inline-block;vertical-align: middle;
      width: 50px; height: 50px; object-fit: contain; margin-right: 3px;
      // border: 1px solid #fff;
    }
    em{vertical-align: middle;}
  }
  .pop{
    position: relative;
    flex: 0 0 50%;
    background: #228db7;
    &>*{vertical-align: middle;}
    span, em{ display: inline-block;}
    em{ margin-left: 4px;}
    &::before{
      content: ''; display: inline-block;vertical-align: middle;
      width: 50px; height: 50px; 
      margin-right: 5px;
      background: url(../images/icon_pop.svg) no-repeat center center;
      background-size: 60% auto;
    }
  }

  @media screen and (min-width: 801px){
  }

  @media screen and (min-width: 1001px){
    display: block; padding: 0; margin: 0;
    .temperature, .pop{
      height: 168px; padding: 0; line-height: 170px;
      em{ font-size: 1.7em;}
    }
    .temperature{
      img{
        width: 64px; height: 64px;
      }
    }
    .pop{
      &::before{width: 64px; height: 64px; }
    }
  }
}

.row.cx2a>.weatherForecast{ padding: 0;}

////////////////////////////////////////////////////////////////////////////////
// 大圖輪播修改
.slide{
  .box img{margin: 0 auto;}
  li>a{ display: block;}


  &.bb_n3{
    max-width: none; box-shadow: none !important;
    width: 100%; height: auto; 
    .box{
      height: 60vw;
      img{ height: 60vw; width: 100% !important;}
    }
  }

  @media screen and (min-width: 801px){
  }

  @media screen and (min-width: 1001px){
    &.bb_n3{
      --imgHeight: 336px;
     .box {
        height: var(--imgHeight);
        img{height: var(--imgHeight);}
      }
    }
  }
}
.slide.cover{
  .box img{object-fit: cover;}
}
.slide.contain{
  .box img{object-fit: contain;}
}


