// 氣溫、降雨機率
.weatherForecast{
  --tempBg:#68bebc;
  --popBg: #53a0b3;
  --textColor:#fff;
  --whitBg:#fff;
  // -------------------------- //

  position: relative; overflow: hidden;
  display: flex; flex-flow: row nowrap;
  padding: 0; margin: 0;
  box-sizing: border-box;
 
  *{box-sizing: border-box;}

  // &::after{
  //   content: ''; position: absolute; bottom: -25px; right: calc(50% - 25px); left: auto;
  //   width: 50px; height: 50px;
  //   background: url(../images/weatherbg_baseball2.png) no-repeat center center;
  //   background-size: 100%;
  // }

  .temperature, .pop{
    position: relative;
    padding: 6px 2px 5px; margin: 0; min-height: 50px;
    font-size: 1rem; line-height: 1.1;
    color: var(--textColor);text-align: center;
    em{font-weight: bold; font-style: normal;}
    &>img, &>em, &>span{position: relative; z-index: 2;} 
  }
 
  // 氣溫
  .temperature{
    flex: 0 0 50%;
    // background: #c47c00 url(../images/weatherbg1.jpg) left bottom no-repeat;
    background-color: var(--tempBg);
    background-size: 100% auto;
    img{
      display: inline-block;vertical-align: middle; 
      width: 50px; height: 50px; object-fit: contain; margin-right: 3px;
    }
    em{
      vertical-align: middle; height: 50px;line-height: 50px;font-size: 2em;
      &::after{
        content: '°C';font-size: .72em;
      }
    }
  }

  // 降雨機率
  .pop{
    position: relative; flex: 0 0 50%;
    text-align: center; 
    background-color: var(--popBg);
    &>*{vertical-align: middle;}
    .label, em, time{ display: inline-block;vertical-align: middle;}
    .label{font-size: .9em; margin: 0 2px;}
    em{ font-size: 1.5em;
      &::after{
        content: '%'; font-size: .72em;
      }
    }
    // &::before{// 水滴圖示
    //   content: ''; display: inline-block;vertical-align: middle;
    //   position: relative; z-index: 2;
    //   width: 50px; height: 50px; 
    //   background: url(../images/icon_pop.svg) no-repeat center center;
    //   background-size: 100% auto;
    // }
    time{
      margin: 0;
      height: 50px; line-height: 50px;
      // outline: 1px solid red;
      font-family:Arial, Helvetica, sans-serif; font-weight: bold;
    }
  }

  @media screen and (min-width: 601px){
    &::after{ bottom: calc(50% - 25px);}
    .temperature, .pop{ padding: 12px 5px;}
    .pop{
      span{ font-size: 1em;}
    }
  }

  @media screen and (min-width: 1001px){
    display: block; 
    // &::after{
    //   top: calc(50% - 75px); right: 0; bottom: auto;
    //   width: 60px; height: 150px;
    //   background: url(../images/weatherbg_baseball.png) no-repeat 0 0;
    //   background-size: auto 100%;
    // }
    &::after{
      content: '';
      position: absolute;right: -15px; top: calc(50% - 100px);
      width: 170px; height: 200px;
      background: url(../images/weatherBg.png) no-repeat right center;
      background-size: 100% auto;
    }
    .temperature, .pop{
      height: 168px;line-height: 170px;padding: 0 0 0 140px;
      &::after{
        content: ''; position: absolute; left: 136px; top: calc(50% - 50px); 
        width: 1px; height:100px;
        background-color: rgba(255,255,255,.6);
      }
    }

    //氣溫
    .temperature{
      text-align: left;
      img{
        width: 100px; height: 100px;
        position: absolute; left: 20px; top:calc(50% - 50px);
      }
      em{ 
        display: inline-block; left: 20px;
        font-size: 3.6rem; text-align: right; 
        &::after{font-size: .6em;}
        // outline: 1px dashed red;
      }
    }

    // 降雨機率
    .pop{
      // &::before{ 
      //   position: absolute; left: 20px; top: calc(50% - 50px); 
      //   width: 100px; height: 100px;
      // }
      time{
        position: absolute; left: 10px; top: calc(50% - 50px); 
        width: 120px; height: 100px; line-height:105px;
        text-align: center; font-size: 3rem;
      }

      .label, em{
        display: block;
        margin-right: 70px;text-align: right;
      }
      .label{
        top:calc(50% - 2em);
        font-size: 1.2rem;line-height: 1.1; letter-spacing: 1px;
        width: 6em; padding-right: 1em;
      }
      em{
        display: block; top:calc(50% - 2rem);
        font-size: 3rem; line-height: 1.1;
        &::after{font-size: .6em;}
      }
    }
  }
}


.row.col84{
  &>.weatherForecast{ padding: 0; height: auto !important; background: var(--whitBg);}
  @media screen and (min-width: 1001px){
    width: 100%;
    display: flex; flex-flow: row nowrap;
    align-content: flex-start;
    &>*{box-shadow: none !important;}
    &>*:first-child{
      flex: 0 0 67%; width:67%;
    }
    &>*:last-child{
      flex: 0 0 33%; width: 33%;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// 大圖輪播修改
.slide{
  .box img{margin: 0 auto;}
  li>a{ display: block;}


  &.bb_n3{
    max-width: none; box-shadow: none !important;
    width: 100%;
    .box{
      height: 60vw;
      img{ height: 60vw; width: 100% !important;object-fit: cover;}
    }
    .dots{
      position: absolute; bottom: 5px; left: 50%; height: auto; padding:0 5px;
      background-color: rgba(255,255,255,.75);
      border-radius: 20px;
      transform: translateX(-50%); transition:opacity .4s;
    }
    .box:hover ~ .dots{opacity: 0.1;}
  }

  @media screen and (min-width: 801px){
  }

  @media screen and (min-width: 1001px){
    &.bb_n3{
      --imgHeight: 336px;
     .box {
        height: var(--imgHeight);
        img{height: var(--imgHeight);}
      }
    }
  }
}
