// 氣溫、降雨機率
.weatherForecast{
  --tempBg:#68bebc;
  --popBg: #53a0b3;
  --textColor:#fff;
  --whitBg:#fff;
  // -------------------------- //

  display: flex; flex-flow: row nowrap;
  position: relative; overflow: hidden;
  padding: 0; margin: 0; box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

  *{box-sizing: border-box;}

  .temperature, .pop{
    flex: 0 0 50%;
    padding: 6px 2px 5px; margin: 0; min-height: 50px;
    font-size: 1rem; line-height: 1.1;
    color: var(--textColor);text-align: center;
  }

   // 降雨機率
   .pop{
    text-align: center;line-height: 50px; font-weight: bold;
    background-color: var(--popBg);
    time {
      margin: 0; display: inline-block;vertical-align: middle; text-align: center;
      font-family: inherit;
    }
    .day {
      &::before{ content: '(';}
      &::after{ content: ')';}
    }
    .percent{
      display: inline-block;vertical-align: middle;
      em{
        &::after{content: '%';}
      }
    }
  }

  // 氣溫
  .temperature{
    background-color: var(--tempBg);
    background-size: 100% auto;
    img{
      display: inline-block;vertical-align: middle; 
      width: 50px; height: 50px; object-fit: contain; margin-right: 3px;
    }
    em{
      vertical-align: middle; height: 50px;line-height: 50px; font-weight: bold;
      &::after{
        content: '°C';
      }
    }
  }

  @media screen and (min-width: 601px){
    .temperature, .pop{ padding: 12px 5px;}
  }

  @media screen and (min-width: 1001px){
    --bigFont: 3.2rem;

    display: block;
    &::after{
      content: ''; position: absolute; top: calc(50% - 75px); right: 0;
      width: 60px; height: 150px;
      background: url(../images/weatherbg_baseball.png) no-repeat 0 0;
      background-size: auto 100%;
    }

    .temperature, .pop{
      position: relative;height: 168px;padding: 0 0 0 140px;
      &::after{
        content: ''; position: absolute; left: 140px; top: calc(50% - 50px); 
        width: 1px; height:100px;
        background-color: rgba(255,255,255,.6);
      }
    }

    // 降雨機率
    .pop{
      .day, .label{ font-size: 1.25rem; line-height: 2; }
      .date, .percent>em{ font-size: var(--bigFont); line-height: 1.15;}
      time{
        position: absolute; left: 10px; top: calc(50% - 50px); 
        width: 120px; height: 100px; padding: 2.5rem 0 0;
        .day{
          position: absolute; top: 0; right: 0; left: 0;
          letter-spacing: 4px;
          &::before{ content: '（';}
          &::after{ content: '）';}
        }
        .date{display: block; margin: 0;}
      }
      .percent{
        display: block; width: 8rem;height: 100px;
        position: relative;top: calc(50% - 50px); left: 10px;
        .label{
          display: block;text-align: left;
          text-indent: .8em; letter-spacing: 1px;
        }
        em{
          display: block; 
          // &::after{font-size: .6em;}
        }
      }
    }

    //氣溫
    .temperature{
      img{
        position: absolute; left: 20px; top:calc(50% - 50px);
        width: 100px; height: 100px;
      }
      em{ 
        display: block; width: 8rem; height: 100px;line-height: 100px;
        position: relative; top: calc(50% - 50px); left: 10px;
        font-size: var(--bigFont); text-align: center; 
        // &::after{
        //   font-size: .6em; vertical-align: text-top;line-height:2.8rem;
        // }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////

.row.col84{
  &>.weatherForecast{ padding: 0; height: auto !important; background: var(--whitBg);}
  @media screen and (min-width: 1001px){
    width: 100%;
    display: flex; flex-flow: row nowrap;
    align-content: flex-start;
    &>*{box-shadow: none !important;}
    &>*:first-child{
      flex: 0 0 67%; width:67%;
    }
    &>*:last-child{
      flex: 0 0 33%; width: 33%;
    }
  }
}

// 大圖輪播修改
.slide{
  .box img{margin: 0 auto;}
  li>a{ display: block;}

  &.bb_n3{
    width: 100%;
    max-width: none; box-shadow: none !important;
    .box{
      height: 60vw;
      img{ height: 60vw; width: 100% !important;object-fit: cover;}
    }
    .dots{
      position: absolute; bottom: 5px; left: 50%; height: auto; padding:0 5px;
      background-color: rgba(255,255,255,.75);
      border-radius: 20px;
      transform: translateX(-50%); transition:opacity .4s;
    }
    .box:hover ~ .dots{opacity: 0.1;}
  }


  @media screen and (min-width: 1001px){
    &.bb_n3{
      --imgHeight: 336px;
     .box {
        height: var(--imgHeight);
        img{height: var(--imgHeight);}
      }
    }
  }
}
